<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>服薬記録サービス</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
    <script src="/js/font.js"></script>
  </head>
  <body>
    <div class="header-ud">
      <h1 class="title green-text">
        <a href="/">服薬記録サービス</a>
      </h1>
    </div>
    <!-- 穴埋めを使用 -->
    <form action="/item/<%= @item.id %>" method="post" class="item-form">
      <div class="input-form-ud">
        <input type="text" name="name" value="<%= @item.name %>" class="name-input">
      </div>
      <div class="input-form-ud">
        <input type="number" name="count" value="<%= @item.stock %>" class="stock-input">
        <span class="unit">個</span>
      </div>
      <div class="button-group pos-fixed">
        <a href="/item/<%= @item.id %>/delete" class="form-button">削除</a>
        <input type="submit" value="保存" class="form-button">
      </div>
    </form>
  </body>
</html>
